#row{
    display: flex;
    flex-direction: row;
    background-image: url("D:\myportfolio\src\images\bgp.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#edu{
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(0, 0, 112);
    font-weight: bold;
}

#date{
    color: brown;
    font-weight: normal;
}