#row{
    display: flex;
    flex-direction: row;
    background-image: url("D:\myportfolio\src\images\bgp.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#data{
    
    margin-left: 50px;
    margin-top: 30px;
    
}

#skill{
    text-align: center;
    color: brown;
    Font-Weight:bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
#t-headings{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
#p-heading{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

#fdpr{
    color: darkgreen;
    font-weight: bold;
}
#list{
    color: rgb(0, 0, 112);
    font-weight: bold;
}